/*	Los ":" indican propiedad. Ejemplo: font tiene las propiedades "family" y Size"
 */
a {
	font: {
		family: Open Sans, sans-serif;
		size: 1em;
	}
}

.banner {
	background: {
		image: url(fondo.jps);
		size: cover;
		position: center;
		repeat: no-repeat;
	}
}